<h2>Создать новое событие</h2>
<form [formGroup]='form' (ngSubmit)='saveEvent()'>
  <div class='fieldset'>
    <div class='field'>
      <tui-input formControlName='title'>
        Название
      </tui-input>
      <tui-error formControlName='title' [error]='[] | tuiFieldError | async'></tui-error>
    </div>
    <div class='field'>
      <tui-textarea formControlName='description'>
        Описание
      </tui-textarea>
      <tui-error formControlName='description' [error]='[] | tuiFieldError | async'></tui-error>
    </div>
    <button tuiButton size='m' appearance='secondary'>Создать</button>
  </div>
</form>
