header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: var(--header-size);
  font-size: clamp(1rem, 0.5rem + 1.4vw, 1.6rem);
  border-bottom: 1px solid var(--tui-text-03);
}

.logo {
  padding: var(--tui-padding-s);
}

nav {
  padding: var(--tui-padding-s);
}
