:host {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  h1 {
    margin: 0 0 1.75em;
    text-align: center;
  }

  form {
    margin: 0 auto;
    width: 30em;
    padding: var(--tui-padding-m);
  }

  button {
    width: 100%;
  }
}
